@font-face {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  src:local()
}

.background {
  position: relative;
  background: linear-gradient(180deg, #f8d7d7, rgba(255, 246, 167, 0.45) 51.46%, rgba(254, 249, 213, 0.07));
  backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.form {
  text-align: left;
  padding-left: 20px;
}

input, textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

span {
  color: red;
  font-size: 12px;
}
